name: hello-world

on:
    push:
        branches:
            - main # Assuming you want to trigger on pushes to the main branch

jobs:
    sample-job:
        runs-on: ubuntu-latest
        steps:
            - name: my-step
              run: echo "Hello World!"

            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Install Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install dependencies
              run: npm install

            - name: Run linting
              run: npm run lint

    artifacts:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Install Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install Dependencies
              run: npm install

            - name: Build Project
              run: npm run build

            - name: Upload artifact to enable deployment
              uses: actions/upload-artifact@v3
              with:
                  name: production-files
                  path: ./dist/somewhere
